/* GENERAL */
html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;
}
/* GENERAL */

/* MAIN */
.main
{
    width: 100%;
    height: 100vh;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./imgs/Tuerkei.png'); 
    box-sizing: border-box;
    background-size: cover;
    background-position: top center;
}

.main h1
{
    color: white;
    font-size: 64px;
    font-weight: 600;
    opacity: .6;

    position: absolute;
    top: 35%;

    text-align: center;

    line-height: 60px;
}

.main button
{
    border: none;
    outline: none;

    height: 60px;
    
    color: white;
    font-size: 20px;
    font-weight: 700;

    padding: 0 24px;

    border-radius: 999px;

    background-color: rgba(255, 255, 255, .4);

    position: absolute;
    bottom: 0;

    cursor: pointer;
}
/* MAIN END */


/* ELEMENTS */

.element
{
    width: 100%;
    height: 100vh;
}
.element:nth-child(1)
{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./imgs/capetown/imgs/hero.jpg'); 
    box-sizing: border-box;
    background-size: cover;
    background-position: top center;
}
.element:nth-child(2)
{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./imgs/nadine-thumb.jpg');
    box-sizing: border-box;
    background-size: cover;
    background-position: top center; 
}
.element:nth-child(3)
{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./imgs/christian-thumb.jpg'); 
    box-sizing: border-box;
    background-size: cover;
    background-position: top center;
}

.element h1
{
    color: white;
    font-size: 64px;
    font-weight: 600;
    opacity: .8;
    text-align: center;
    line-height: 70px;
}

.element p
{
    color: white;
    font-size: 20px;
    font-weight: 600;
    opacity: .4;

    margin: 35px 0;
}

.element a img
{
    width: 40px;
    height: 40px;
    border-radius: 999px;
}

.element a p
{
    font-size: 20px;
    opacity: .8;
    margin-left: 15px;
}

.element button
{
    border: none;
    outline: none;

    height: 60px;
    
    color: white;
    font-size: 20px;
    font-weight: 700;

    padding: 0 24px;

    border-radius: 999px;

    background-color: rgba(255, 255, 255, .4);

    position: absolute;
    bottom: 0;

    cursor: pointer;
}
/* ELEMENTS END */



/* MEDIA QUERIES */

@media only screen and (max-width: 768px)
{
    .main h1 em
    {
        font-size: 42px;
    }
}

@media only screen and (min-width: 768px)
{
    .element > *
    {
        opacity: 0;
        transition: .3s ease;
    }

    .element
    {
        cursor: pointer;
        transition: .3s ease;
    }
    .element:hover > *
    {
        opacity: 1;
        transform: scale(1.05);
        background-size: 110%;
    }

    .element:nth-child(1)
    {
        background: url('./imgs/capetown/imgs/hero.jpg'); 
        box-sizing: border-box;
        background-size: cover;
        background-position: top center;
    }
    .element:nth-child(2)
    {
        background: url('./imgs/nadine-thumb.jpg');
        box-sizing: border-box;
        background-size: cover;
        background-position: top center; 
    }
    .element:nth-child(3)
    {
        background: url('./imgs/christian-thumb.jpg'); 
        box-sizing: border-box;
        background-size: cover;
        background-position: top center;
    }

    .element:nth-child(1):hover
    {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./imgs/capetown/imgs/hero.jpg'); 
        box-sizing: border-box;
        background-size: cover;
        background-position: top center;
    }
    .element:nth-child(2):hover
    {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./imgs/nadine-thumb.jpg'); 
        box-sizing: border-box;
        background-size: cover;
        background-position: top center; 
    }
    .element:nth-child(3):hover
    {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./imgs/christian-thumb.jpg'); 
        box-sizing: border-box;
        background-size: cover;
        background-position: top center;
    }
}

/* MEDIA QUERIES END */



/* ANIMATIONS */
.main h1
{
    display: block;
    width: fit-content;
    height: fit-content;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
.main h1 span
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(255, 255, 255, 1);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

.main button
{
    display: block;
    width: fit-content;
    opacity: 0;
    animation: div_reveal .5s ease forwards;
    animation-delay: 2.5s;  
    width: 175px; 
}
/* ANIMATIONS END */




/* KEYFRAMES */
@keyframes text_reveal_box
{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal
{
    100%{
        color: white;
    }
}

@keyframes div_reveal
{
    100%{
        opacity: 1;
    }
}
/* KEYFRAMES */