/* GENERAL */
html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;
}
/* GENERAL END */

/* BULMA OVERWRITE */

/* BULMA OVERWRITE END */

/* NAVBAR */

.top-menu
{

    width: 100%;

    display: flex;
    position: fixed;
    z-index: 2;
    
    padding: 1.5rem 0;
    padding-top: 3.5rem;

}
.top-menu .container
{
    justify-content: flex-end;
}

.top-menu .img-container
{
    width: 55px;
    height: 55px;

    background-color: rgba(255, 255, 255, .3);
    border-radius: 999px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.top-menu img
{
    width: 32px;
    height: 32px;
    object-fit: cover;
    transform: rotate(180deg);
    color: white;
    opacity: .8;
}
.top-menu p
{
    align-self: center;
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, .8);
    
    height: 55px;
    padding: 0 32px;

    background-color: rgba(255, 255, 255, .3);
    border-radius: 999px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 25px;
}

/* NAVBAR END */



/* HERO */

.hero
{
    width: 100%;
    height: 100vh;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./imgs/capetown/imgs/hero.jpg'); 
    box-sizing: border-box;
    background-size: cover;
    background-position: top center;
}


.hero .name
{
    margin-bottom: 15vh;
}

.hero .name h1
{
    color: white;
    font-size: 84px;
    font-weight: 700;
    line-height: 96px;
}

.hero .name .further img
{
    width: 36px;
    height: 36px;
    margin-right: 16px;
    opacity: .6;
    cursor: pointer;
}

.hero .name .further h4
{
    font-size: 28px;
    color: white;
    font-weight: 700;
    opacity: .6;
    line-height: 36px;
    cursor: pointer;
}
/* HERO END */

/* NAVIGATOR */

.navigator
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.navigator .navigation-item
{
    width: 100%;
    height: 125px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 25px;
}
.navigator .navigation-item:nth-child(1)
{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./imgs/capetown/imgs/history.jpg'); 
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}
.navigator .navigation-item:nth-child(2)
{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./imgs/capetown/imgs/culture.jpg'); 
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}
.navigator .navigation-item:nth-child(3)
{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./imgs/capetown/imgs/nature.jpg'); 
    box-sizing: border-box;
    background-size: cover;
    background-position: top;
}

.navigator .navigation-item h4
{
    font-size: 32px;
    color: white;
    font-weight: 700;
    opacity: .8;
}

/* NAVIGATOR END */

/* PRICES */

.prices
{
    width: 100%;
    height: 100vh;
}

.prices .price-item
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}
.prices .price-item img
{
    width: 48px;
    height: 48px;
    object-fit: cover;

    margin-bottom: 25px;
}

.prices .price-item p
{
    color: black;
    font-size: 24px;
    font-weight: 700;
}
.prices .price-item p span
{
    font-size: 64px;
    margin-left: 15px;
}

.prices .seperator
{
    font-weight: 700;
    height: 0;
}
/* PRICES END */

/* INFORMATION */

.information .information-item
{
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information .information-item img
{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}
.information .information-item:nth-child(3) img
{
    object-position: top;
}

.information .ow-text
{
    margin-top: 25px;
    box-sizing: border-box;
}
.information .ow-text h4
{
    font-size: 32px;
    font-weight: 700;
}
.information .ow-text p
{
    font-size: 16px;
    margin-top: 15px;
    opacity: .8;
}

.information .ow-text button
{
    border: none;
    outline: none;

    color: white;
    font-size: 14px;
    font-weight: 700;

    height: 50px;
    padding: 0 24px;
    border-radius: 999px;

    margin-top: 45px;
}
.information .information-item:nth-child(1) .ow-text button
{
    background-color: #AE8969;
}
.information .information-item:nth-child(2) .ow-text button
{
    background-color: #363E58;
}
.information .information-item:nth-child(3) .ow-text button
{
    background-color: #CCB6A0;
}

/* INFORMATION END */

/* FOOTER */

.footer
{
    height: 300px;
    width: 100%;
    background-color: black;
}

/* FOOTER END */




/* MEDIA QUERIES */
@media only screen and (max-width: 1024px)
{
    .top-menu
    {
        padding: 1.5rem 1.5rem;
    }
}

@media only screen and (max-width: 768px)
{
    .hero .name
    {
        margin-bottom: 5vh;
    }
}
@media only screen and (min-width: 768px)
{
    .navigator .container
    {
        justify-content: space-between !important;
    }
    .navigator .navigation-item
    {
        width: 30% !important;
        height: 250px;
    }

    .information .information-item
    {
        flex-direction: row;
    }
    .information .information-item img
    {
        height: 50vh;
        width: 50%;
        flex: 1;
    }
    .information .information-item .ow-text
    {
        flex: 1;
        margin-left: 25px;
    }

    .information .right img
    {
        order: 2;
    }
    .information .right .ow-text
    {
        order: 1;
        margin-left: 0;
        margin-right: 25px;
    }

}
/* MEDIA QUERIES */




/* ANIMATIONS */
.hero .name h1
{
    display: block;
    width: fit-content;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
.hero .name h1 span
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(255, 255, 255, 1);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

.hero .name .further
{
    display: block;
    width: fit-content;
    position: relative;
    opacity: 0;
    animation: div_reveal .5s ease forwards;
    animation-delay: 2.5s;
}


.top-menu
{
    opacity: 0;
    animation: div_reveal .5s ease forwards;
    animation-delay: 2.5s;
}

.top-menu .img-container
{
    cursor: pointer;
    transition: .3s ease;
}
.top-menu p
{
    cursor: pointer;
    transition: .3s ease;
}

.top-menu .img-container:hover
{
    background-color: rgba(255, 255, 255, 0);
}
.top-menu p:hover
{
    background-color: rgba(255, 255, 255, 0);
}


.navigator .navigation-item
{
    cursor: pointer;
    transition: .3s ease;
}
.navigator .navigation-item h4
{
    transition: .3s ease;
}
.navigator .navigation-item:hover
{
    transform: scale(1.1);
}
.navigator .navigation-item:hover h4
{
    opacity: 0;
}


.prices .price-item
{
    transition: .3s ease;
    cursor: pointer;
}
.prices .price-item p span
{
    transition: .3s ease;
}
.prices .price-item:hover
{
    transform: scale(1.1);
}
.prices .price-item:hover p span
{
    text-decoration: underline;
    text-decoration-thickness: 4px;
}


.information .information-item button
{
    cursor: pointer;
    transition: .3s ease;

    border: solid;
    border-width: 2px;
    border-color: white;

}
.information .information-item button:hover
{
    background-color: white !important;
    border: solid;
    border-width: 2px;
}
.information .information-item:nth-child(1) button:hover
{
    color: #AE8969;
    border-color: #AE8969;
}
.information .information-item:nth-child(2) button:hover
{
    color: #363E58;
    border-color: #363E58;
}
.information .information-item:nth-child(3) button:hover
{
    color: #CCB6A0;
    border-color: #CCB6A0;
}
/* ANIMATIONS END */




/* KEYFRAMES */
@keyframes text_reveal_box
{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal
{
    100%{
        color: white;
    }
}

@keyframes div_reveal
{
    100%{
        opacity: 1;
    }
}
/* KEYFRAMES */