.is-horizontal-center {
    justify-content: center;
}

.uberschrift{
    background-color: white;
    padding: 12px 25px 12px 25px;
    transform: translateY(-70px);
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.16);
}

.sehenswuerdigkeiten{
    background-color: white;
    justify-content: center;
    padding: 10px;
    transform: translateY(-70px);
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 0 50px rgba(0,0,0,.16);
}

.weitereInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin: 0 0 0 0;
}

.footer{
    background-color: darkseagreen;
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
}

.imageI{
    margin: 0 0 0;
    width: 100%;
}

.ersteL{
    text-align: center;
    list-style: inside;
}

.aktiv{
    margin: auto;
    padding: 10px;
}

.weiteres{
    margin: auto;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
}