/* GENERAL */
.elements a
{
    flex: 1;
}
.container img{
    border-radius: 10px;
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* GENERAL END */

/* ELEMENT */
.element{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 12px 20px;
    width: 90%;
    margin: 0 auto;
    transform: translateY(-70px);
    box-shadow: 0 0 10px rgba(0,0,0,.16);
}

.element h4
{
    font-weight: 600;
    font-size: 20px;
}

.element p
{
    opacity: .6;
}
/* ELEMENT END */